In [1]:
import pandas as pd
df1 = pd.read_csv('2019~2023進出站人口數.csv',index_col='日期',usecols=['日期','車站名稱','進站人數','出站人數'],parse_dates=True)
df2 = df1.reset_index().set_index(keys=['日期','車站名稱'])
df2.columns.name = "人數"
s1 = df2.stack(level='人數')
s1

日期          車站名稱  人數
2019-04-23  基隆    進站人數    8442
                  出站人數    7743
            鎮安    進站人數      15
                  出站人數      14
            林邊    進站人數     368
                          ...
2023-12-31  花壇    出站人數    1532
            潭子    進站人數    3517
                  出站人數    3091
            瑞穗    進站人數     811
                  出站人數    1053
Length: 813522, dtype: int64

In [2]:
df3 = s1.reset_index()
yaer_series = s1.reset_index()['日期'].dt.year
yaer_series

0         2019
1         2019
2         2019
3         2019
4         2019
          ...
813517    2023
813518    2023
813519    2023
813520    2023
813521    2023
Name: 日期, Length: 813522, dtype: int32

In [3]:
s1.groupby(by=yaer_series.values).sum()

2019    332719042
2020    416560022
2021    318649074
2022    350719246
2023    449060964
dtype: int64

In [8]:
df3.columns = ['日期','車站名稱','人數','數量']
df3['數量'].groupby(by=[yaer_series,df3['車站名稱'],df3['人數']]).sum().unstack(level='人數')

人數            出站人數     進站人數
日期   車站名稱
2019 七堵    1560506  1512951
     三坑     347841   342775
     三塊厝    111863   105842
     三姓橋    260777   288098
     三民       2994     2435
...            ...      ...
2023 鼓山     168011   165055
     龍井     157385   155439
     龍泉       8246     6263
     龍港       9633     8662
     龜山      29613    29966

[1198 rows x 2 columns]