In [57]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                   'key2':['one','two','one','two','one'],
                   'data1':np.random.randint(1,11,size=5),
                   'data2':np.random.randint(1,11,size=5)})
df

  key1 key2  data1  data2
0    a  one     10      6
1    a  two      9     10
2    b  one      9      9
3    b  two     10      1
4    a  one      8      6

In [58]:
df['data1'].groupby(df['key1']).sum()

key1
a    27
b    19
Name: data1, dtype: int64

In [61]:
df['data1'].groupby(by=[df['key1'],df['key2']]).count()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
Name: data1, dtype: int64

In [64]:
df['data1'].groupby(['台北','台北','台北','台中','台中']).count()

台中    2
台北    3
Name: data1, dtype: int64

In [69]:
df[['data1','data2']].groupby(by=[df['key1'],df['key2']]).sum()

           data1  data2
key1 key2
a    one      18     12
     two       9     10
b    one       9      9
     two      10      1