In [ ]:
#請將lesson16內的(上市公司資料.csv),轉換為dataFrame

In [44]:
import pandas as pd

def format_number(value):
    return "{:,}".format(value)

company_data = pd.read_csv('上市公司資料.csv')

clean_data = company_data[['公司代號', '公司名稱', '產業別', '營業收入-當月營收', '營業收入-上月營收']]

format_date = clean_data.set_index('公司名稱')
format_date['公司代號'] = format_date['公司代號'].astype(str)
format_date['營業收入-當月營收'] = format_date['營業收入-當月營收'].map(format_number)
format_date['營業收入-上月營收'] = format_date['營業收入-上月營收'].map(format_number)

format_date.info()
format_date

<class 'pandas.core.frame.DataFrame'>
Index: 839 entries, 亞泥 to 世紀鋼
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   公司代號       839 non-null    object
 1   產業別        839 non-null    object
 2   營業收入-當月營收  839 non-null    object
 3   營業收入-上月營收  839 non-null    object
dtypes: object(4)
memory usage: 32.8+ KB

      公司代號   產業別  營業收入-當月營收  營業收入-上月營收
公司名稱
亞泥    1102  水泥工業  7,069,221  7,864,622
幸福    1108  水泥工業    390,053    326,691
信大    1109  水泥工業    478,276    557,403
東泥    1110  水泥工業    176,935    134,470
大飲    1213  食品工業     38,696     29,503
...    ...   ...        ...        ...
茂順    9942    其他    352,730    349,111
好樂迪   9943  觀光事業    212,912    197,756
新麗    9944    其他    179,660    231,139
佳龍    9955    其他     81,881     85,625
世紀鋼   9958  鋼鐵工業    757,968    651,699

[839 rows x 4 columns]